#games-container {

}


article.game {
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 10px;
  width: 410px;
  margin: auto;
  margin-top: 10px;
  opacity: .5;
}

article.game:hover {
  border: 1px solid black;
  opacity: 1.0
}

article.game header {
  background-color: #eee;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}

article.game:hover header {
  background-color: #e8fdff;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}

article.game header img {
  border-radius: 10px;
  height: 80px;
  width: 80px;
}

article.game header img:hover {
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

article.game header text {
    color: #757575;
    vertical-align: top;
    padding-left: 10px;
    font-size: 150%;
}

article.game:hover header text {
    color: #00a087;
    vertical-align: top;
    padding-left: 10px;
    font-size: 150%;
}

article.game span {
  color: grey;
  vertical-align: top;
  float: right;
  font-size: 100%;
}


article.game > p {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  margin: 0px;
  padding: 15px;
}

article.game > p:hover {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

article.game footer p {
  display: inline-block;
  margin: 0px;
}

article.game footer {
  padding: 10px;
  color:  #757575;
}


article.game footer i {
  float: right;
  padding: 5px;
  color: white;
}

article.game:hover i {
  color: #00a087;
}

article.game footer i.fa-flag:hover {
  color: gold;
}
article.game footer i.fa-regame:hover {
  color: green;
}
article.game footer i.fa-heart:hover {
  color: red;
}






