body {
  background-image: url("/images/poker-table-background.jpg");
}

body .opponent img {
  height: 110px;
  width: 85px;
  position: relative;
}

body .player img {
  height: 110px;
  width: 85px;
  position: relative;
  bottom: -400px;
  opacity: .8;
}

body .player img:hover {
  position: relative;
  bottom: -380px;
  opacity: 1.0;
}
